@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .tab_list {
    position: relative;
  }
  .tab_line1 {
    position: absolute;
    bottom: -2px;
    background-color: black;
    border: 1px solid black;
    height: 2px;
    width: 230px;
    transition: all 0.3s ease;
  }
  .tab_line2 {
    position: absolute;
    bottom: -2px;
    transform: translateX(230px);
    background-color: black;
    border: 1px solid black;
    height: 2px;
    width: 230px;
    transition: all 0.3s ease;
  }
  .tab_item:nth-child(1):hover ~ .tab_line1 {
    transform: translateX(0) !important;
  }

  .tab_item:nth-child(2):hover ~ .tab_line1 {
    transform: translateX(230px) !important;
  }
  .tab_item:nth-child(1):hover ~ .tab_line2 {
    transform: translateX(0) !important;
  }
  .scrollbar::-webkit-scrollbar {
    display: none;
    width: 6px;
    height: 5px;
  }
  .scrollbar::-webkit-scrollbar-track {
    display: none;
    border-radius: 100vh;
    background: #d7d6d635;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    display: none;
    background: #fff;
    border-radius: 100vh;
  }
  .scrollbar:hover::-webkit-scrollbar {
    display: block;
    width: 6px;
    height: 5px;
  }
  .scrollbar:hover::-webkit-scrollbar-track {
    display: block;
    border-radius: 100vh;
    background: white;
  }
  .scrollbar:hover::-webkit-scrollbar-thumb {
    display: block;
    background: #fff;
    border-radius: 100vh;
  }
  .caret {
    caret-color: red;
  }
  .volumeBox:hover .controlVolume {
    display: block;
  }
  .controlVolume::before {
    content: '';
    position: absolute;
    transform: translateX(-15px);
    height: 30px;
    z-index: 1;
    width: 100px;
    background-color: transparent;
  }
  .rangeVolume {
    -webkit-appearance: none;
    width: 70%;
    height: 1.5px;
    background: #fff;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  .rangeVolume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    border-radius: 100%;
    height: 12px;
    background: #fff;
    cursor: pointer;
  }

  .rangeVolume::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: red;
    cursor: pointer;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  line-height: 1.2;
}
body {
  font-family: 'IBM Plex Sans';
}
body::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}
body::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: #d9d9e6;
  border-radius: 100vh;
}
